<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYPotDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>659232C11C72BE7800C8834F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659232DA1C72BE7800C8834F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659232E51C72BE7800C8834F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
